{% extends 'base.html' %}
{% load website_tags %}
{% load static %}
{% load thumbnail %}
{% load widget_tweaks %}
{% block title %}
    <title>{{ edition.get_type_display.title }} {{ edition.ano }}</title>
{% endblock title %}

{% block navbar %}
    {% include 'inc/_headers.html' %}
{% endblock navbar %}

{% block content %}
    <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'styles/componentes/modal.css' %}"
    />

    <div id="newsletter" class="modal z-10">
        <div class="modal__content w-full p-10 max-h-vh">
            <form id="newsletter-form" class="gap-3 text-center" action="{% url 'newsletter_send_email' %}"
                  method="post">
                {% csrf_token %}
                <div class="text-xl font-bold">
                    Fique por dentro das novidades
                </div>
                <div class="text-md font-bold">
                    Receba diretamente no seu email as principais atualizações sobre o CERAPIO 2024
                </div>
                Email
                {% render_field news_form.email class="border my-2 w-full border-3 border-black rounded py-1" %}
                {% if news_form.email.errors %}
                    <div class="text-sm text-red-500">
                        {{ news_form.email.errors }}
                    </div>
                {% endif %}
                Área de interesse
                <select name="{{ news_form.interest_area.name }}"
                        class="border my-2 w-full border-3 border-black rounded py-1">
                    <option value="" disabled selected>Escolha uma área de interesse</option>
                    {% for option in news_form.fields.interest_area.queryset %}
                        <option value="{{ option.pk }}">{{ option.name }}</option>
                    {% endfor %}
                </select>
                {% if news_form.interest_area.errors %}
                    <div class="text-sm text-red-500">
                        {{ news_form.interest_area.errors }}
                    </div>
                {% endif %}
                <div class="font-bold flex gap-3">
                    <a href="#" class="w-full text-green-500 border border-green-500 rounded">
                        Agora não
                    </a>
                    <button id="btn-submit-mail" target="_blank" type="submit"
                            class="w-full text-white bg-green-500 border border-green-500 rounded">
                        Enviar
                    </button>
                </div>
            </form>
        </div>


    </div>

    {#    INICIO --- HEADER#}
    <div class="swiper mySwiper z-0">
        <div class="flex z-10 h-full w-full bg-no-repeat absolute">
            <div class="flex w-full h-full justify-end content-center sm:justify-center flex-col"
                 style="background-color: rgba(0, 0, 0, 0.25)">
                <div class="flex flex-col justify-start items-end px-5 sm:px-10 md:pl-20 pt-12
                    md:pt-10 sm:max-w-xs md:max-w-md gap-4">
                    <img alt="" class="h-20 md:h-40" src="{% static 'images/home/logos/selo.png' %}"/>
                    <div class="flex w-full justify-end sm:pr-5 text-white font-black text-5xl md:text-7xl text-end press-style">
                        {{ edition.event_start_date.day }} - {{ edition.event_end_date.day }}
                        <br/>
                        {{ edition.event_start_date.month|get_month_name }} {{ edition.event_start_date.year }}
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-wrapper relative">
            {% for banner in main_banner %}
                {% if banner.is_active and banner.start_date <= current_date_date and current_date_date <= banner.end_date %}
                    <div class="swiper-slide h-[250px] md:h-[550px] bg-right md:bg-center bg-no-repeat w-full bg-cover md:bg-contain xl:bg-cover"
                         style="background-image: url({% thumbnail banner.banner 1741x743 %})">.
                    </div>
                {% endif %}
            {% endfor %}
            {% if main_banner %}
                {% for banner in main_banner %}
                    {% if not banner.is_active or current_date_date < banner.start_date or current_date_date > banner.end_date %}
                        <div class="swiper-slide h-[250px] md:h-[550px] bg-right md:bg-center bg-no-repeat w-full bg-cover md:bg-contain xl:bg-cover"
                             style="background-image: url({% static 'images/home/banner1.png' %})">
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="swiper-slide h-[250px] md:h-[550px] bg-right md:bg-center bg-no-repeat w-full bg-cover md:bg-contain xl:bg-cover"
                     style="background-image: url({% static 'images/home/banner1.png' %})">
                </div>
                <div class="swiper-slide h-[250px] md:h-[550px] bg-center bg-no-repeat w-full bg-cover md:bg-contain xl:bg-cover"
                     style="background-image: url({% static 'images/home/banner2.png' %})">
                </div>
                <div class="swiper-slide h-[250px] md:h-[550px] bg-right md:bg-center bg-no-repeat w-full bg-cover md:bg-contain xl:bg-cover"
                     style="background-image: url({% static 'images/home/banner3.png' %})">
                </div>
                <div class="swiper-slide h-[250px] md:h-[550px] bg-right md:bg-center bg-no-repeat w-full bg-cover md:bg-contain xl:bg-cover"
                     style="background-image: url({% static 'images/home/banner4.png' %})">
                </div>
                <div class="swiper-slide h-[250px] md:h-[550px] md:bg-center bg-no-repeat w-full bg-cover md:bg-contain xl:bg-cover"
                     style="background-image: url({% static 'images/home/banner5.png' %})">
                </div>
            {% endif %}
        </div>
    </div>
    {#    FIM --- HEADER#}



    {#    INICIO --- LOGO DO PATROCINADOR  #}
    {% if patrocinadores %}
        <h3 class="text-center text-2xl font-bold py-3">Patrocinador</h3>
        <div class="swiperPatrocinadores py-5">
            {% for patr in patrocinadores %}
                <div class="w-[250px] h-[100px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% thumbnail patr.logo 250x130 %})"></div>
            {% endfor %}
        </div>
    {% endif %}
    {#    FIM --- LOGO DO PATROCINADOR  #}

    {#    INICIO --- BANNER DO PATROCINADOR  #}
    {% if patrocinadores %}
        <div class="swiperPatrocinadoresBanner py-2 md:py-5 lg:py-10">
            {% for patr in patrocinadores %}
                <div class="h-[120px] md:h-[240px] lg:h-[320px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% thumbnail patr.banner 1320x320 %})">
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {#    FIM --- BANNER DO PATROCINADOR  #}

    <div class="flex items-center xspace bg-no-repeat bg-center bg-cover w-full h-[121px]"
         style="background-image: url({% thumbnail banners.2.banner 1440x121 %}">
        <p class="w-full text-center text-xl lg:text-5xl text-white">
            MUITO ALÉM DE UM RALLY
        </p>
    </div>

    {% include 'inc/home/_counterdown.html' %}


    {#    INICIO --- LOGO DO CO PATROCINADOR  #}
    {% if co_patrocinadores %}
        <h3 class="text-center text-2xl font-bold py-3">Co-patrocinador</h3>
        <div class="swiperCoPatrocinadores py-5">
            {% for patra in co_patrocinadores %}
                <div class="w-[130px] h-[90px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% thumbnail patra.logo 1024x1024 %}"></div>
            {% endfor %}
        </div>
    {% endif %}
    {#    FIM --- LOGO DO CO PATROCINADOR  #}

    {#    INICIO --- BANNER DO CO PATROCINADOR  #}
    {% if co_patrocinadores %}
        <div class="swiperCoPatrocinadoresBanner py-2 md:py-5 lg:py-10">
            {% for patra in co_patrocinadores %}
                <div class="h-[120px] md:h-[240px] lg:h-[256px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% thumbnail patra.banner 1320x256 %})">
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {#    FIM --- BANNER DO CO PATROCINADOR  #}

    {#    INICIO - TOTALIZADORES 1#}
    <div class="flex justify-center bg-contain bg-center w-full bg-no-repeat text-[#545454] max-w-screen-xl mx-auto items-center"
         style="
                 background-image: url({% static 'images/home/backgroundDecoracaoPontilhada.png' %});
                 ">
        <div class="flex flex-col text-center md:text-start md:flex-row h-full lg:bg-transparente lg:h-auto lg:w-auto gap-y-12 md:gap-10 lg:gap-20 justify-center sm:justify-between items-center px-16 lg:px-20 py-10 w-full">
            <div class="text-xl font-light lg:mt-20 lg:bg-white lg:rounded-full lg:px-5 lg:py-10">
                São
                <div class="text-3xl font-black uppercase">{{ website_info.history_years }} anos</div>
                consecutivos<br/>
                de história
            </div>
            <div class="flex flex-col lg:gap-16 items-center justify-center lg:bg-white lg:rounded-full lg:px-5 lg:py-10">
                <div class="text-xl font-light">
                    <div class="text-3xl font-black uppercase">
                        + 10.000
                    </div>
                    participantes
                    <span class="text-sm">
                        <br/> em todas as edições
                    </span>
                </div>
                <div class="flex gap-3 ">
                    <img src="{% static 'images/logos/piocera.png' %}" alt=""
                         class="w-[160px] hidden lg:block"/>
                    <img src="{% static 'images/logos/cerapio.png' %}" alt=""
                         class="w-[160px] hidden lg:block"/>
                </div>
            </div>

            <div class="text-3xl font-black lg:mt-36 lg:bg-white lg:rounded-full lg:px-5 lg:py-10 uppercase">
                + {{ website_info.number_of_states }} estados
                <div class="text-xl font-light normal-case">
                    participantes e
                </div>
                {{ website_info.number_of_countries }} países
            </div>
        </div>
    </div>
    {#    FIM - TOTALIZADORES 1#}

    {#    INICIO - LISTA DE MODALIDADES #}
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 mx-auto">
        {% for modality in modalities|slice:':8' %}
            <a href="{% url 'category' edition.ano modality.modality.slug %}"
               style="background-image: url('{% thumbnail modality.foto 1024x1024 %}')"
               class="flex items-center bg-no-repeat bg-center bg-cover w-full h-32 lg:h-52 cursor-pointer">
                <p class="flex w-full justify-center items-center text-center text-3xl text-white h-full"
                   style="background-color: rgba(0, 0, 0, 0.25)">
                    {{ modality.modality.name }}
                </p>
            </a>
        {% endfor %}
    </div>
    {#    FIM - LISTA DE MODALIDADES #}

    {#    INICIO - NOTICIAS #}
    {% if news %}
        <div class="bg-gray-50 flex flex-col w-full justify-center items-center gap-7 py-6 px-10">
            <div class="font-bold text-5xl text-[#8FC74A] py-8">
                Notícias
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 text-black  lg:container mx-auto">
                {% for n in news|slice:':6' %}
                    <a href="{% url 'news:postage_detail' ano=n.edition.ano slug=n.slug %}" title="{{ n.title }}"
                       class="border border-white bg-white flex flex-col lg:flex-row justify-between py-6 px-7 gap-6 hover:shadow-lg hover:border-gray-300 hover:border ease-in-out duration-300">
                        <div class="flex flex-row lg:flex-col justify-between gap-4">
                            <p class="text-xs md:text-sm sm:text-base font-light">

                                Edição: {{ edicao_texto }} {{ edition }}

                            </p>
                            <h3 class="text-sm md:text-base lg:text-lg font-medium">
                                {{ n.title }}
                            </h3>
                            <div class="text-xs md:text-sm lg:text-base font-light">
                                {{ n.publication_date|date:'d/m/Y' }}
                            </div>
                        </div>
                        <img src="{% thumbnail n.cover 1024x1024 %}" alt="{{ n.title }}"
                             class="object-cover h-[150px] w-[200px]">
                    </a>
                    {% comment %} <div class="bg-white flex justify-between py-6 px-7 gap-6">
                <div class="flex flex-col h-full gap-4">
                    <a href="{{ n.get_absolute_url }}" title="{{ n.title }}" class="text-sm md:text-base lg:text-lg font-medium h-full">
                        {{ n.title }}
                    </a>
                    <div class="text-xs md:text-sm lg:text-base font-light">
                        {{ n.publication_date|date:'d/m/Y' }}
                    </div>
                </div>
                <a href="{{ n.get_absolute_url }}" title="{{ n.title }}">
                    <img src="{% thumbnail n.cover 1024x1024 %}" alt="{{ n.title }}"
                         class="object-cover min-h-[200px] min-w-[200px]"/>
                </a>
            </div> {% endcomment %}
                {% endfor %}
            </div>
            <a
                    href="/noticias"
                    type="button"
                    class="uppercase flex justify-center items-center bg-transparente rounded-lg border-2 border-[#8FC74A] text-[#8FC74A] hover:text-white hover:bg-[#8FC74A] px-10 sm:px-20 py-1 ease-out duration-300">
                Ver mais notícias
            </a>
        </div>
    {% endif %}
    {#    FIM - NOTICIAS #}

    {#    INICIO - GALERIA #}
    {% if albuns %}
        <div class="flex flex-col">
            <div class="bg-[#8FC74A] flex flex-col w-full justify-center items-center gap-7 py-6 px-10">
                <div class="font-bold text-4xl text-white py-4">
                    Galeria de Fotos
                </div>


                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-5 w-full text-black">
                    {% for album in albuns %}
                        {% include 'inc/_album_preview.html' with edition_id=edition.id subalbum_id=album.id %}
                    {% endfor %}
                </div>
                <a href="{% url 'galeria_edicao' edition.id %}"
                   type="button"
                   class="uppercase flex justify-center items-center bg-transparente rounded-lg border-2 border-white text-white hover:bg-white hover:text-[#8FC74A] px-10 sm:px-20 py-1 ease-in duration-200">
                    Ver mais fotos
                </a>

            </div>
        </div>
    {% endif %}
    {#    FIM - GALERIA #}


    {#    INICIO - TOTALIZADORES 2 #}
    <div class="h-full"
         style="background-image: url({% thumbnail banners.4.banner 1440x1140 %}); background-size: cover ">
        <div class="bg-[#8FC74A]/80 h-full text-center sm:text-start flex flex-row flex-wrap items-center justify-center bg-cover bg-center w-full bg-no-repeat text-white gap-10 md:gap-20 p-10">
            <div class="text-lg lg:text-4xl font-black">
                <div class="font-light text-2xl">Estimativa de</div>
                R$ 8,5 mi
                <div class="text-lg lg:text-2xl font-medium">
                    Em movimentações
                </div>
            </div>
            <div class="text-4xl lg:text-4xl font-black">
                <div class="font-light text-2xl">Jornais, Revistas e Sites</div>
                + 400
                <div class="text-lg lg:text-2xl font-medium">
                    Matérias divulgadas
                </div>
            </div>
            <div class="text-4xl lg:text-4xl font-black">
                <div class="font-light text-2xl">Mega percusso</div>
                + 1000km
                <div class="text-lg lg:text-2xl font-medium">De aventura pelo Nordeste</div>
            </div>
        </div>
    </div>
    </div>
    {#    FIM - TOTALIZADORES 2 #}

    <div class="bg-amber-600 flex text-center flex-col justify-center items-center bg-cover
        bg-center w-full bg-no-repeat text-white gap-10 p-10 md:p-16"
         style="background-image: url({% thumbnail banners.5.banner 1443x1140 %});">
        <div class="font-medium text-2xl md:text-4xl uppercase">
            VEJA A EXPERIÊNCIA DE QUEM<br/>JÁ VIVEU ESSA AVENTURA
        </div>
        <div class="px-9 md:px-14 py-10 flex justify-center items-center bg-cover bg-center bg-no-repeat rounded-xl"
             style="
                background-image: url(/static/images/home/bannerPrimarioVideo.png);
            ">
            <iframe
                    class="aspect-video sm:min-w-[400px] md:min-w-[720px]"
                    src="https://www.youtube.com/embed/nss6cyoVjvQ"
                    title="Rally Piocerá 2023 - 1º Dia - Highlights"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen
            ></iframe>
        </div>
        <a href="{% url 'modality' edition.ano %}"
           class="text-xl md:text-2xl font-extrabold uppercase flex justify-center items-center bg-[#8FC74A] hover:bg-[#9bd850] rounded-lg px-5 py-1">
            Quero me inscrever agora
        </a>
    </div>

    {#    INICIO - APOIO#}
    {% if apoios %}
        <h3 class="text-center text-2xl font-bold py-3">Apoio</h3>
        <div class="swiperApoio py-5">
            {% for apoio in apoios %}
                <div class="w-[130px] h-[60px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% thumbnail apoio.logo 1024x1024 %}"></div>
            {% endfor %}
        </div>
    {% endif %}
    {#    FIM - APOIO#}

    <div style="background-image: url({% thumbnail banners.6.banner 1443x1140 %}); background-size: cover ">
        <div class="bg-black/70 flex flex-col justify-center items-center bg-cover bg-center bg-no-repeat gap-10 p-10 md:py-4 md:px-16">
            <div class="font-medium text-2xl md:text-5xl text-center text-white"
            >
                Ações Sociais
            </div>
            <swiper-container pagination-clickable="true" centered-slides="true"
                              class="mySwiper flex flex-row items-center justify-center h-full " navigation="true"
                              space-between="30" loop="true" grab-cursor-cursor-pointer="false"
                              centered-slides="true" pagination="false"
            >
                {#                TODO: INSERIR SLIDE AQUI#}
                <swiper-slide class="flex flex-row items-center justify-center">

                    <div class="bg-gray-50 flex flex-col p-4 gap-4 rounded-lg aspect-square lg:w-[956px] lg:h-[734px]">
                        <img alt="" src="{% static 'images/home/verde.png' %}"
                             class="w-full"
                        />
                        <div class="flex flex-col gap-2">
                            <div class="text-sm md:text-base lg:text-lg font-medium h-full">
                                Projeto árvore protegida
                            </div>
                            <div class="text-xs md:text-sm lg:text-base font-light">
                                O Rally Cerapió irá desenvolver, em parceria com a ONG MAIS VIDA, uma ação
                                para equalizar a emissão de gases do efeito estufa gerados durante os 5 dias de rally,
                                através da plantação de 1000 mudas de árvores.
                            </div>
                        </div>
                    </div>
                </swiper-slide>
            </swiper-container>
        </div>
    </div>

    {% include 'inc/home/_counterdown.html' %}

    {% if faqs %}
        <div style="background-image: url({% thumbnail banners.7.banner 1443x1140 %});">
            <div class="bg-[#0E1C0E]/70 break-all flex flex-col justify-start bg-cover bg-center w-full bg-no-repeat gap-10 md:gap-20 p-10 md:p-16 text-white">
                <div class="text-3xl font-semibold  lg:container mx-auto">
                    Perguntas e respostas frequentes
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8  lg:container mx-auto">
                    {% for faq in faqs %}
                        <div class="flex flex-col justify-start gap-3 items-start">
                            <div class="rounded-full bg-[#8FC74A] p-3">
                                <img alt='' src="{% static 'images/home/icones/coracao.png' %}"/>
                            </div>
                            <h3 class="font-semibold text-lg">
                                {{ faq.title }}
                            </h3>
                            <h5 class="font-light text-base">
                                {{ faq.answer }}
                            </h5>
                        </div>
                    {% endfor %}
                </div>
                <div class="bg-[#D09B4BCC] flex flex-row flex-wrap items-center justify-between p-8 gap-4 rounded-lg  lg:container mx-auto">
                    <div class="flex flex-col justify-start gap-2">
                        <div class="font-semibold text-xl">
                            Ainda tem dúvidas?
                        </div>
                        <div class="font-light text-lg">
                            Entre em contato com nosso time pelo WhatsApp
                        </div>
                    </div>
                    <button type="button" class="text-lg font-semibold flex justify-center
            items-center bg-[#8FC74A] hover:bg-[#9bd850] rounded-lg px-8 py-1">
                        Fale conosco
                    </button>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="flex flex-col gap-2 justify-center items-center text-center py-12 px-10  lg:container mx-auto">
        <div class="text-base font-light">
            Esse evento é válido pelos Campeonatos brasileiros de Enduro
            e Rally 4x4 de Regularidade com supervisão das Confederações
            Brasileiras de Motociclismo – CBM, Autobilismo – CBA e
            possui estilo Stage Race de Mountain Bike.
        </div>
        <div class="w-full">
            <div class="swiperLogosSupervisor flex items-center justify-center">
                <div class="w-[250px] h-[100px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% static 'images/home/supervisao/superv2.png' %}"></div>
                <div class="w-[250px] h-[100px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% static 'images/home/supervisao/superv3.png' %}"></div>
                <div class="w-[250px] h-[100px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% static 'images/home/supervisao/superv4.png' %}"></div>
                <div class="w-[250px] h-[100px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% static 'images/home/supervisao/superv5.png' %}"></div>
                <div class="w-[250px] h-[100px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% static 'images/home/supervisao/superv6.png' %}"></div>
                <div class="w-[250px] h-[100px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% static 'images/home/supervisao/superv7.png' %}"></div>
                <div class="w-[250px] h-[100px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% static 'images/home/supervisao/superv8.png' %}"></div>
                <div class="w-[250px] h-[100px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% static 'images/home/supervisao/superv9.png' %}"></div>
                <div class="w-[250px] h-[100px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% static 'images/home/supervisao/superv10.png' %}"></div>
                <div class="w-[250px] h-[100px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% static 'images/home/supervisao/superv11.png' %}"></div>
                <div class="w-[250px] h-[100px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% static 'images/home/supervisao/superv12.png' %}"></div>
                <div class="w-[250px] h-[100px] bg-contain bg-no-repeat bg-center"
                     style="background-image: url({% static 'images/home/supervisao/superv1.png' %}"></div>
            </div>
        </div>

        <div class="flex w-full">
            <div class="grid grid-cols-1 md:grid-cols-4 mt-5 md:flex-row scrollbar text-sm font-bold uppercase md:px-9 gap-4 md:gap-6 justify-between items-center overflow-x-auto mx-auto">
                <div class="col-span-1">
                    <h4>Colaboração</h4>
                    <img src="{% static 'images/home/logos/jockey.png' %}" class="w-full xl:w-36" alt=""/>
                </div>
                <div class="col-span-1">
                    <h4>Parceria</h4>
                    <img src="{% static 'images/home/logos/abr.png' %}" class="w-full xl:w-36" alt=""/>
                </div>
                <div class="col-span-1">
                    <h4>Apuração</h4>
                    <img src="{% static 'images/home/logos/vidadeatleta.png' %}" class="w-full xl:w-36" alt=""/>
                </div>
                <div class="col-span-1">
                    <h4>Realização</h4>
                    <img src="{% static 'images/home/logos/radical.png' %}" class="w-full xl:w-36" alt=""/>
                </div>
            </div>
        </div>
    </div>

    {% if website_info.whatsapp_url %}
        <a href="{{ website_info.whatsapp_url }}"
           class="tx bg-[#DA8731] hover:bg-[#e99439] rounded-full p-4 flex w-16 fixed bottom-10 right-10">
            <img src="{% static 'images/home/redesSociais/whatsapp.png' %}" alt=""/>
        </a>
    {% endif %}

    <script>
        $(document).ready(function () {
            let countDownDate = new Date("{{ edition_date_iso }}").getTime();
            {#let countDownDate = new Date("2023-05-17T21:00:00-03:00").getTime();#}

            let x = setInterval(function () {
                let now = new Date().getTime();
                let distance = countDownDate - now;
                let days = Math.floor(distance / (1000 * 60 * 60 * 24));
                let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor((distance % (1000 * 60)) / 1000);

                $("#dias").html(days);
                $("#horas").html(hours);
                $("#minutos").html(minutes);
                $("#segundos").html(seconds);

                if (distance < 0) {
                    clearInterval(x);
                    $("#dias").html(0);
                    $("#horas").html(0);
                    $("#minutos").html(0);
                    $("#segundos").html(0);
                }
            }, 1000);
        });
    </script>

    <script>
        // Function to set a cookie
        function setCookie(cookieName, cookieValue, expirationDays) {
            var d = new Date();
            d.setTime(d.getTime() + (expirationDays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cookieName + "=" + cookieValue + ";" + expires + ";path=/";
        }

        // Function to check if the "news" cookie exists
        function checkAndRedirect() {
            var newsCookie = getCookie("news");
            if (newsCookie === "") {
                // If the "news" cookie doesn't exist, redirect to "#newsletter"
                window.location.hash = "newsletter";

                // Create the "news" cookie with value "1" (you can change the value as needed)
                setCookie("news", "1", 7); // Set a cookie that expires in 30 days
            }
        }

        // Function to retrieve the value of a cookie
        function getCookie(cookieName) {
            var name = cookieName + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var cookieArray = decodedCookie.split(";");

            for (var i = 0; i < cookieArray.length; i++) {
                var cookie = cookieArray[i];
                while (cookie.charAt(0) === " ") {
                    cookie = cookie.substring(1);
                }
                if (cookie.indexOf(name) === 0) {
                    return cookie.substring(name.length, cookie.length);
                }
            }
            return "";
        }

        // Check and redirect on page load
        $(document).ready(function () {
            checkAndRedirect();
        });
    </script>

{% endblock content %}



{% block footer %}
    {% include 'inc/_footer.html' with footer=1 %}
{% endblock footer %}

