{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    <title>Confirmação</title>
{% endblock title %}

{% block content %}
    <div class="w-full h-full bg-white flex justify-center items-center p-6 sm:p-16">
        <div class="flex flex-col gap-10 justify-center items-center rounded-lg border shadow w-full max-w-screen-md">
            <div class="flex w-full justify-center items-center py-14 px-6 bg-cover bg-no-repeat bg-bottom" style="background-image: url({% static 'images/accounts/decorationBorder.png' %});">
                <img src="{% static 'images/logos/cerapioBranca.png' %}" class="shrink-0"/>
            </div>
            <div class="flex w-full px-4 sm:px-14 md:px-28 pb-6 sm:pb-11 gap-8 flex-col justify-center items-center">
                <div class="flex flex-col gap-10 w-full justify-center items-center">
                    <p class="text-base font-light">
                        Nós mandamos o link de recuperação para você no email.
                        Por favor não esqueça de verificar sua caixa de spam ou sua lixeira.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}