{% load static %}
{% load website_tags %}

{% if footer == 1 or footer == 'home' %}
    <div class="text-white bg-[#709B74] flex flex-col items-center justify-center py-12 md:py-24 px-10 md:px-20 gap-20 md:gap-28">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-y-12 gap-x-4 text-base text-start w-full">
            {% logo request ano as logos %}
            <a href="{% url 'home' %}">
                <img src="{{ logos.SITE_LOGO_BRANCA }}" class="max-w-[150px]" />
            </a>
            <div class="lg:col-span-2 w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-y-9 gap-x-6 text-base text-start">
                <div class="flex flex-col gap-6 font-semibold">
                    <div>Competidor</div>
                    <div class="flex flex-col gap-2">
                        <a href="{% url 'home' %}" class="hover:text-gray-200">Home</a>
                        {% comment %} <a href="#" class="hover:text-gray-200">O Evento</a> {% endcomment %}
{#                        {% for pages in PAGES|slice:':5' %}#}
{#                            <a href="{{ pages.get_absolute_url }}" class="uppercase hover:text-gray-200">{{ pages.title }}</a>#}
{#                        {% endfor %}#}
                        <a href="/noticias" class="hover:text-gray-20">Notícias</a>
                        <a href="/edicao/2024/agencia-de-viagem.html" class="hover:text-gray-200">Agência de Viagens</a>
                    </div>
                </div>
                <div class="flex flex-col gap-6 font-semibold">
                    <div>Parceiro</div>
                    <div class="flex flex-col gap-2">
                        <a href="/edicao/2024/numeros-do-evento-anualmente.html" class="hover:text-gray-200">Números do Evento</a>
                        <a href="/edicao/2024/mais-visibilidade-e-interacao-com-a-sua-marca.html" class="hover:text-gray-200">O Evento nas mídias</a>
                        <a href="/edicao/2024/programacao-da-37a-edicao.html" class="hover:text-gray-200">Programação da 37ª Edição</a>
                    </div>
                </div>
                <div class="flex flex-col gap-6 font-semibold">
                    <div>Redes Sociais</div>
                    <div class="flex flex-col gap-2">
                        <a target=_blank href="https://www.facebook.com/rallycerapiorallypiocera/" class="hover:text-gray-200 flex flex-row items-center gap-1">
                            <img src="{% static 'images/home/redesSociais/facebook.png' %}"/>Facebook
                        </a>
                        <a target=_blank href="https://www.instagram.com/cerapio.piocera/" class="hover:text-gray-200 flex flex-row items-center gap-1">
                            <img
                                src="{% static 'images/home/redesSociais/instagram.png' %}"
                            />Instagram
                        </a>
                        <a target=_blank href="https://www.youtube.com/c/RallyCerapi%C3%B3Piocer%C3%A1" class="hover:text-gray-200 flex flex-row items-center gap-1">
                            <img
                                src="{% static 'images/home/redesSociais/youtube.png' %}"
                            />Youtube
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="font-light text-sm text-center">
            © {% now 'Y' %} RADICAL, Produzido por <a href='https://fabricadegenios.com.br/' target=_blank>Fábrica de Gênios<a>
        </div>
    </div>
{% endif %}