{% load static %}

{% if not request.user.is_authenticated %}
    {% if butao_inscricao %}
        <li class="lg:ml-10">
            <a href="{% url 'modality' CURRENT_EDITION.ano %}"
               class="bg-[#8FC74A] text-white press-style text-4xl hover:bg-[#9bd850] rounded-lg py-1 w-64 text-center">
                INSCREVA-SE
            </a>
        </li>
    {% endif %}
{% else %}
    <li class="lg:ml-10">
        <a
                class="cursor-pointer text-[#545454] bg-white hover:bg-gray-100 rounded-lg px-3 py-2 flex items-center justify-center flex-row gap-2"
        >
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="w-6 h-6 shrik-0"
            >
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z"
                />
            </svg>
            <div class="text-sm font-medium">
                {{ request.user.get_full_name|default:request.user.username }}
            </div>
            <svg
                    width="13"
                    height="8"
                    viewBox="0 0 13 8"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
            >
                <path
                        d="M1.5 1.5L6.5 6.5L11.5 1.5"
                        stroke="#344054"
                        stroke-width="1.66667"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                />
            </svg>
        </a>
        <ul class="text-base/5 text-gray-600">
            <li>
                <a href="{% url 'competitor_area.html' %}" class="hover:text-gray-900 uppercase">Painel do
                    Competidor</a>
            </li>

                <li>
    {% if request.user.is_staff %}
                    <a href="{% url 'dashboard_admin_modalidades' %}" class="hover:text-gray-900 uppercase"> Painel
                        Administrativo</a>
                {% endif %}
                <li>

            <a href="{% url 'logout' %}" class="hover:text-gray-900 uppercase">Sair</a>
            </li>
        </ul>
    </li>
{% endif %}